<article class='post-container container'>
	<header class='post-header'>
		<%= post.title %>
	</header>
	<nav class='post-voting'>
		<%= link_to '▲', post_votes_path(post, value: '1'), id:"#{post.id}-vote", method: :post %>
		<var><%= post.votes.count %></var>
	</nav>
	<section class='post-body'>
		<p class='post-text'>
			<%= post.text %>
		</p>
	</section>
	<footer>
		<nav class='post-nav'>
			<%= link_to pluralize(post.comments.count, 'comment'), post_comments_path(post), class: 'comments-link' %>
		</nav>
	</footer>
</article>