<article class="panel panel-info", id='post-<%= post.id %>'>
	<header class="panel-heading">
		<var class='rank'><%= post.rank(@algorithm) %>. </var>
		<strong><%= post.title %></strong>
			<em class='post-metadata'>Posted by <%= post_owner(post) %> <%=time_ago_in_words(post.created_at)%> ago</em>
	</header>
	<aside class='post-vote'>	
		<nav class='post-voting'>
			<%= render partial:'posts/post_voting', locals: { post: post } %>
		</nav>
	</aside>
	<% if post.url.present? %>
		<a class="media-link" href="<%= post.url %>">
		  <img class="media-object" src="<%= post.url %>">
		</a>
	<% else %>
	 <a class="media-link" href="<%= post.url %>">
	   <img class="media-object" src="http://giladlotan.com/wp-content/uploads/2011/01/wordle22.jpg">
	 </a>
	<% end %>
	<section class="panel-body post-body">
		<div class="well well-sm">
			<% if post.text.present? %>
				<%= post.text %>
			<% else %>
				<a class='post-url' href='<%= post.url %>'><%= post.url %></a>
			<% end %>
		</div>
	</section>
	<footer class="panel-footer">
		<nav>
			<%= link_to pluralize(post.descendants_count, 'comment'), post_comments_path(post), class: 'comments-link' %>
		</nav>
	</footer>
</article>
