<article class='post-container container'>
	<header class='post-header'>
		<%= post.title %>
	</header>
	<nav class='post-voting'>
		<% if current_user %>
			<%= link_to '▲', post_votes_path(post, value: '1'), id:"#{post.id}-vote", class: 'votes-link', method: :post %>
		<% end %>
		<var><%= post.votes.count %></var>
	</nav>
	<section class='post-body'>
		<p class='post-text'>
			<%= post.text %>
		</p>
	</section>
	<footer>
		<nav class='post-nav'>
			<% if current_user %>
				<%= link_to pluralize(post.comments.count, 'comment'), post_comments_path(post), class: 'comments-link' %>
			<% end %>
		</nav>
	</footer>
</article>