<article class="panel panel-info", id='post-<%= post.id %>'>
	<header class="panel-heading">
		<strong><%= post.title %></strong>
			<em class='post-metadata'>Posted by <%= post_owner(post) %> <%=time_ago_in_words(post.created_at)%> ago</em>
	</header>
	<aside class='post-rank'>	
		<var class='rank'><%= post.rank(:default) %></var>
		<nav class='post-voting'>
			<%= render partial:'posts/post_voting', locals: { post: post } %>
		</nav>
	</aside>
	<a class="media-link" href="#">
	  <img class="media-object" src="http://i.imgur.com/JJ3TOHT.gif" alt="...">
	</a>
	<section class="panel-body post-body">
		<div class="well well-sm">
			<p class='post-text'><%= post.text %></p>
		</div>
	</section>
	<footer class="panel-footer">
		<nav>
			<%= link_to pluralize(post.descendants_count, 'comment'), post_comments_path(post), class: 'comments-link' %>
		</nav>
	</footer>
</article>
