<article class='post-container container', id='post-<%= post.id %>'>
	<var class='rank'><%= post.rank %></var>
	<nav class='post-voting'>
		<% if current_user %>
			<%= link_to '▲', post_votes_path(post, value: '1'), id:"#{post.id}-up-vote", class: 'up-vote-link' %>
			<var class='vote-count'><%= post.vote_total %></var>
			<%= link_to '▼', post_votes_path(post, value: '-1'), id:"#{post.id}-down-vote", class: 'down-vote-link' %>
		<% else %>
			<span>▲</span>
			<var class='vote-count'><%= post.vote_total %></var>
			<span>▼</span>
		<% end %>
	</nav>
	<header class='post-header'>
		<%= post.title %>
	</header>
	<section class='post-body'>
		<p class='post-text'>
			<%= post.text %>
		</p>
	</section>
	<footer>
		<nav class='post-nav'>
			<% if current_user %>
				<%= link_to pluralize(post.comments.count, 'comment'), post_comments_path(post), class: 'comments-link' %>
			<% end %>
		</nav>
	</footer>
</article>