<% if current_user %>
	<h3>Welcome <%= current_user.email %></h3>
<% end %>
<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to 'Post New Text', new_post_path(type: 'text') %>
<%= link_to 'Post New Link', new_post_path(type: 'link') %>
<% if @posts.any? %>
	<%= render @posts %>
<% else %>
	<h3 class='no-post-msg'>No posts yet</h3>
<% end %>
