<!DOCTYPE html>
<html>
<head>
  <title>SkimdIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render partial: 'layouts/navbar' %>
		<%= render partial: 'layouts/flash' %>
	</header>
	<main class='container'>
		
		<%= yield %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</main>
</body>
</html>
